body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* 縦方向に並べる */
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 20px;
    text-align: center; /* 中央寄せ */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

th:first-child {
    width: 50px;
}


td:last-child {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 300pt) {
    body {
        font-size: 10px; /* 小さめのフォントサイズ */
    }    
    th, td:nth-child(3) {
        display: none;
    }
    button{
        font-size: 10px;
    }
    
    td:nth-child(2) {
        max-width: calc(100% - 50px); /* 幅を1列目を除く残りの幅に調整 */
        overflow: hidden;
        text-overflow: ellipsis;

    }
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
